USE [ProgERD]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 9/2/2026 2:06:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventID] [int] NOT NULL,
	[eventName] [varchar](50) NOT NULL,
	[eventDate] [date] NOT NULL,
	[eventLocation] [varchar](50) NOT NULL,
	[organizerName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventRace]    Script Date: 9/2/2026 2:06:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventRace](
	[EventRaceID] [int] NOT NULL,
	[MaxParticipants] [int] NOT NULL,
	[EventID] [int] NULL,
	[categoryID] [int] NULL,
	[startTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventRaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participant]    Script Date: 9/2/2026 2:06:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participant](
	[ParticipantID] [int] NOT NULL,
	[FirstName] [varchar](20) NOT NULL,
	[lastName] [varchar](20) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Particip__7227997E70B23EF0] PRIMARY KEY CLUSTERED 
(
	[ParticipantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaceCategory]    Script Date: 9/2/2026 2:06:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceCategory](
	[categoryID] [int] NOT NULL,
	[categoryName] [varchar](30) NOT NULL,
	[distance] [int] NOT NULL,
	[Category_description] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 9/2/2026 2:06:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[registrationID] [int] NOT NULL,
	[Reg_Date] [date] NOT NULL,
	[BidNumber] [int] NOT NULL,
	[PaymentStatus] [varchar](10) NOT NULL,
	[ParticipantID] [int] NULL,
	[EventRaceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[registrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[result]    Script Date: 9/2/2026 2:06:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[result](
	[ResultID] [int] NOT NULL,
	[RankOverall] [int] NOT NULL,
	[RankinCategory] [int] NOT NULL,
	[RegistrationID] [int] NULL,
	[FinishTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EventRace]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[RaceCategory] ([categoryID])
GO
ALTER TABLE [dbo].[EventRace]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[RaceCategory] ([categoryID])
GO
ALTER TABLE [dbo].[EventRace]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[EventRace]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD FOREIGN KEY([EventRaceID])
REFERENCES [dbo].[EventRace] ([EventRaceID])
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD FOREIGN KEY([EventRaceID])
REFERENCES [dbo].[EventRace] ([EventRaceID])
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK__Registrat__Parti__5535A963] FOREIGN KEY([ParticipantID])
REFERENCES [dbo].[Participant] ([ParticipantID])
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK__Registrat__Parti__5535A963]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK__Registrat__Parti__6383C8BA] FOREIGN KEY([ParticipantID])
REFERENCES [dbo].[Participant] ([ParticipantID])
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK__Registrat__Parti__6383C8BA]
GO
ALTER TABLE [dbo].[result]  WITH CHECK ADD FOREIGN KEY([RegistrationID])
REFERENCES [dbo].[Registration] ([registrationID])
GO
ALTER TABLE [dbo].[result]  WITH CHECK ADD FOREIGN KEY([RegistrationID])
REFERENCES [dbo].[Registration] ([registrationID])
GO
